<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <% if (user.name) { %>
        <h2>Hello, <%= user.name %></h2>
        <% } else { %>
        <h1>Hello, guest</h1>
        <% } %>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
